.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn:hover {
  color: #fff !important;
  text-decoration: none;
}

.image-bg{
  height: 80vh; 
  max-width: 70vw; 
  margin-top: 6vh; 
}

.sus{
  margin-left: 30%; 
}

.panel{
  margin-top: 30vh; 
  margin-left: 88vw; 
  width: 8vw; 
}

.panel1{
  margin-top: 15vh;
  margin-left: 90vw; 
}

.login {
  margin-top: 20vh;
  margin-left: 38vw; 

}

.inputs{
  width: 100%; 
  height: 6vh; 
  border-radius: 5px; 
}
